{
  "telegram": {
    "app_id": 10000,
    "app_hash": "dasasdasdasasddasdsaasddassdadsa",
    "notifySelf": false
  },
  "profiles": [
    {
      "enabled": true,
      "profileName": "Default"
    },
    {
      "enabled": false,
      "profileName": "Profile 1"
    },
    {
      "enabled": false,
      "profileName": "Profile 2"
    }
  ],
  "cooldownTimer": 300,
  "PartsBot2": {
    "_comment": "This is the channel PartsBot2 channel with all the other stock checkers",
    "enabled": true,
    "filters": {
      "_comment": "Mapping: Key = match (lower cases), value = filter as normal filters below",
      "1660 ti": "1660ti",
      "1660": "1660",
      "3060 ti": "3060ti_LHR",
      "3060": "3060_LHR",
      "3070 ti": "3070ti_LHR",
      "3070": "3070_LHR",
      "3080 ti": "3080ti_LHR",
      "3080": "3080_LHR",
      "3090 ti": "3090ti_LHR",
      "3090": "3090_LHR",
      "XBOX": "XBOX",
      "PS5": "PS5"
    }
  },  
  "button": {
    "_comment": "Button number 0: checkout, Button number 1: Turbo, Button number 2: Extension URL",
    "number": 2
  },
  "filters": {
    "PS5": {
      "EUR": {
        "enabled": true,
        "maxprice": 500,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 500,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "XSX": {
      "EUR": {
        "enabled": false,
        "maxprice": 500,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 500,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "1660": {
      "EUR": {
        "enabled": false,
        "maxprice": 400,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 400,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "1660ti": {
      "EUR": {
        "enabled": false,
        "maxprice": 600,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 600,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3060": {
      "EUR": {
        "enabled": true,
        "maxprice": 600,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 350,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3060_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 600,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 350,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3060ti": {
      "EUR": {
        "enabled": true,
        "maxprice": 800,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 450,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3060ti_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 800,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3070": {
      "EUR": {
        "enabled": true,
        "maxprice": 900,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3070_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 850,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3070ti": {
      "EUR": {
        "enabled": true,
        "maxprice": 850,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3070ti_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 900,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3080": {
      "EUR": {
        "enabled": true,
        "maxprice": 1300,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 1150,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3080_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 1300,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 1150,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3080ti": {
      "EUR": {
        "enabled": true,
        "maxprice": 1500,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3080ti_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 1500,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 420,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3090": {
      "EUR": {
        "enabled": true,
        "maxprice": 2200,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 1650,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    }
  }
}

