{
  "telegram": {
    "app_id": 10000,
    "app_hash": "dasasdasdasasddasdsaasddassdadsa",
    "notifySelf": false
  },
  "chrome": {
    "_comment": "Path can be 'autodetect' or full path to chrome.exe (C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe) mind double slashes on windows",
    "path": "autodetect"
  },  
  "profiles": [
    {
      "enabled": true,
      "profileName": "Default",
      "addressID": {
        "_comment": "See https://www.amazon.nl/addressID for all the addressID, just copy paste under each profile",
        "enabled": false,
        "ES": "123",
        "DE": "456",
        "FR": "789",
        "UK": "123",
        "NL": "456",
        "IT": "789"
      }
    },
    {
      "enabled": false,
      "profileName": "Profile 1"
    },
    {
      "enabled": false,
      "profileName": "Profile 2"
    }
  ],
  "cooldownTimer": 300,
  "PartsBot2": {
    "_comment": "This is the channel PartsBot2 channel with all the other stock checkers",
    "enabled": true,
    "filters": {
      "_comment": "Custom filters for Unknown models: (Mapping: Key = match (lower cases), value = filter as normal filters below)",
      "3050": "3090"
    }
  },  
  "button": {
    "_comment": "Button number 0: checkout, Button number 1: Turbo, Button number 2: Extension URL",
    "number": 2
  },
  "filters": {
    "PS5": {
      "EUR": {
        "enabled": true,
        "maxprice": 480,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 450,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [0,1]
        }
      }
    },
    "XSX": {
      "EUR": {
        "enabled": false,
        "maxprice": 500,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 500,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "1650": {
      "EUR": {
        "enabled": false,
        "maxprice": 400,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 400,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "1660": {
      "EUR": {
        "enabled": false,
        "maxprice": 400,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 400,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "1660ti": {
      "EUR": {
        "enabled": false,
        "maxprice": 600,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 600,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "1660s": {
      "EUR": {
        "enabled": false,
        "maxprice": 600,
        "useWarehouse": true
      },
      "UK": {
        "enabled": false,
        "maxprice": 600,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3060_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 450,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 350,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3060ti_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 650,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 550,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3070_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 850,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 550,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": true,
          "overrideButtons": [1,2]
        }
      }
    },
    "3070ti_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 950,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 500,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3080_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 1200,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 950,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3080ti_LHR": {
      "EUR": {
        "enabled": true,
        "maxprice": 1500,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 1000,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "3090": {
      "EUR": {
        "enabled": true,
        "maxprice": 1800,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 1550,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "6600": {
      "EUR": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "6600XT": {
      "EUR": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "6700XT": {
      "EUR": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "6800": {
      "EUR": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "6800XT": {
      "EUR": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    },
    "6900XT": {
      "EUR": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "UK": {
        "enabled": true,
        "maxprice": 100,
        "useWarehouse": true
      },
      "advanced": {
        "buttons": {
          "enableMultipleButtons": false,
          "overrideButtons": [1,2]
        }
      }
    }
  }
}

